<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swisspost_YellowCube::configure" title="Configure YellowCube"/>
                <resource id="Swisspost_YellowCube::yellowcube_stock" title="YellowCube Stock Report"/>
            </resource>
        </resources>
    </acl>
</config>
