<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Swisspost\YellowCube\Observer\HandleProductSaveBefore">
        <arguments>
            <argument name="config" xsi:type="object">\Swisspost\YellowCube\Helper\Data</argument>
        </arguments>
    </type>
</config>
