<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\DisableLotFields"/>
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleAttributeProductSaveBefore"/>
    </event>
    <event name="catalog_product_attribute_update_after">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleAttributeProductSaveAfter"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleProductSaveBefore"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleProductSaveAfter"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleProductDelete"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="catalog_product_yellowcube_sync" instance="Swisspost\YellowCube\Observer\HandleShipmentSaveAfter"/>
    </event>
    <event name="catalog_model_product_duplicate">
        <observer name="catalog_product_duplicate_yellowcube" instance="Swisspost\YellowCube\Observer\handleProductDuplicate"/>
    </event>

    <event name="core_collection_abstract_load_before">
        <observer name="yellowcube_add_shipment_grid_status_field" instance="Swisspost\YellowCube\Observer\ShipmentCollectionLoadObserver"/>
    </event>

</config>
