<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="yellowcube" frontName="yellowcube">
            <module name="Swisspost_YellowCube"/>
        </route>
        <route id="reports" frontName="reports">
            <module name="Swisspost_YellowCube" before="Magento_Reports" />
        </route>
    </router>
</config>
