<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="yellowcube" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SwissPost YellowCube</label>
                <field id="active" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="operation_mode" type="select" sortOrder="12" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Operation Mode</label>
                    <source_model>Swisspost\YellowCube\Model\Shipping\Carrier\Source\Operation</source_model>
                    <comment>In 'Production' mode the certificate is required.</comment>
                </field>
                <field id="custom_url" type="select" sortOrder="19" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to Yes to change the Endpoint URL</comment>
                </field>
                <field id="soap_url" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URL to the Endpoint</label>
                    <comment>YellowCube SOAP EntryPoint</comment>
                    <depends>
                        <field id="custom_url">1</field>
                    </depends>
                </field>
                <field id="sender_id" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender ID</label>
                </field>
                <field id="receiver" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receiver</label>
                </field>
                <field id="depositor_number" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Depositor Number</label>
                </field>
                <field id="partner_number" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Partner Number</label>
                </field>
                <field id="plant_id" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Plant-ID</label>
                </field>
                <field id="certificate_path" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Certificate Path and Filename</label>
                    <comment>For security reasons, the certificate should be placed outside of the webroot.</comment>
                    <backend_model>Swisspost\YellowCube\Model\Shipping\Carrier\Source\Certificate\Path\Backend</backend_model>
                </field>
                <field id="certificate_password" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Certificate Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="allowed_methods" translate="label" showInDefault="1" sortOrder="70" showInWebsite="0" showInStore="0">
                    <label>Shipping Method</label>
                    <frontend_model>Swisspost\YellowCube\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="tara_factor" translate="label" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tara Factor</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
                <field id="title" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" type="select" sortOrder="100" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" type="multiselect" sortOrder="110" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="debug" type="select" sortOrder="120" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="yc_upload_data" sortOrder="130" translate="button_label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <comment>Resend product master data to YellowCube; only applies to products with the attribute
                        "Sync with YellowCube" = Yes.
                    </comment>
                    <button_label>Resend Product Data to YellowCube</button_label>
                    <frontend_model>Swisspost\YellowCube\Block\Adminhtml\System\Config\Upload</frontend_model>
                </field>
                <field id="yc_download_data" sortOrder="140" translate="button_label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Get Current Stock Data from YellowCube</button_label>
                    <frontend_model>Swisspost\YellowCube\Block\Adminhtml\System\Config\Download</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
